<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Start</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h3>New User</h3>
    <a href="/user/register"><button>Register</button></a>
    <h3>Already Registered?</h3>
    <a href="/user/login"><button>Login</button></a>
  </div>
</body>
</html>
