<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploaded</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h2 class="success">File uploaded successfully</h2>
    <a href="/user/upload"><button>Upload More</button></a>
    <a href="/user/renderDashboard"><button>Home</button></a>
  </div>
</body>
</html>
